body
    font-family: "Lexend Deca", sans-serif

h1
    font-size: 7.2rem

h2
    font-size: 5rem

h1, h2, h3, h4, h5, p
    padding: 0px 1rem
    line-height: 1.1

p
    font-size: 1.5rem

p::first-letter
    font-size: 200%

.highlight
    color: #7C4EAB


.byline
    color: rgb(169, 169, 169)